<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__inner-link">
                <img src="../img/logo.svg" alt="" class="header__inner-logo">
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__list-item">
                        <a href="" class="nav__list-link">
                            <p class="nav__list-text">Products</p>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="" class="nav__list-link">
                            <p class="nav__list-text">Features</p>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="" class="nav__list-link">
                            <p class="nav__list-text">About</p>
                        </a>
                    </li>
                    <li class="nav__list-item">
                        <a href="" class="nav__list-link">
                            <p class="nav__list-text">Contact</p>
                        </a>
                    </li>
                    <li class="nav__inner">
                        <a href="" class="nav__inner-link">
                            <p class="nav__inner-text">Login</p>
                        </a>
                        <button class="nav__inner-btn">Register</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>